PROJECT_NAME=jpef-project
APP_ENV=development
APP_IMAGE_TAG=local
APP_PORT=8080

CONTAINER_USER=vscode
CONTAINER_UID=1000
CONTAINER_GID=1000

# Obligatorio para ejecutar la imagen de producción.
# Ejemplo: php-fpm, npm run start, ./app
APP_START_COMMAND=xxxxxxxx

# Opcional. Ejemplo: php artisan migrate --force
MIGRATION_COMMAND=
